* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FBEAEB;
    color: #2F3C7E;
}

header {
    padding: 15px 40px;
    background-color: #2F3C7E;
    color: #FBEAEB;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;
}

header h1, h2, h3 {
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
}

header nav li {
    display: inline;
    margin-left: 11px;
    font-size: 22px;
}

header nav li a { /* para alterar o texto do a precisa selecionar o a aqui, se não, não mudará a cor. */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

.brands-list img{
    height: 20px;
    margin-right: 10px;
}

.brands-list li {
    display: inline;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 14px;
}

section p {
    margin-bottom: 8px;
}

.store-img {
    margin-right: 30px
}

.social-links img{
    height: 24px;
    margin-right: 8px;
}

.social-links li{
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #2F3C7E;
    color: #FBEAEB;
}

form button:hover{
    background-color: #4051a7;
}

#contact h3{
    margin-bottom: 8px;
}